__init__.py
.gitignore
.gitsubmit.sh
*.pyc
*.so
*.log
*.err
*.out
**/*.png
.*.swp
**/*~
**/*#
._*
**.png
**.exe
**.tar.gz
!sf_files/
rootFiles
files_initial/
files_nominal/
plots/
analyze_??
condor_*
Job_*
gitsubmit.sh
run_102X_data2018_*.py
run_dnn_test_v2_*.py
crab_MC2018*/
crab_data2018*/
lumisprocessed/
Out_MC_*/
Out_DATA_*/
Out_*/
plots*/
sf_files/htt_scalefactors*.root
output*/*.root
analyzer/*.root
smhtt_et_2017/**/*.root 
smhtt_mt_2018/**/*.root
smhtt_tt_2018/**/*.root
2017_skimm/**/*.root
2018_skim/**/*.root

sync.sh