__init__.py
*.pyc
*.so
*.log
*.err
*.out
*.png
.*.swp
**/*~
**/*#
._*
*.png
*.exe
!sf_files/
rootFiles
files_initial
files_nominal
plots
analyze_??
condor_*
Job_*
gitsubmit.sh
run_102X_data2018_*.py
run_dnn_test_v2_*.py
crab_MC2018*/
crab_data2018*/
lumisprocessed/
Out_MC_*/
Out_DATA_*/
Out_*/
output*/*.root
analyzer/*.root
smhtt_et_2017/*/*.root 
smhtt_et_2018/*/*.root
sync.sh